<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container dashboard-box">
        <div class="dashboard-header">
            <h2>Admin Dashboard</h2>
            <a href="/logout" class="btn-danger">Logout</a>
        </div>

        <div class="nav-tabs">
            <button onclick="showTab('adm-books', this)" class="active">Manage Books</button>
            <button onclick="showTab('adm-users', this)">Manage Users</button>
            <button onclick="showTab('adm-penalties', this)">Manage Penalties</button>
            <button onclick="showTab('adm-logs', this)">Borrow Logs</button>
        </div>

        <div id="adm-books" class="panel">
            <h3>Add / Edit / Remove Books</h3>
            <input type="text" placeholder="Book Title">
            <input type="text" placeholder="ISBN">
            <button>Add Book</button>
        </div>

        <div id="adm-users" class="panel hidden">
            <h3>Manage Users & Payment Status</h3>
            <table>
                <tr><th>Name</th><th>Role</th><th>Status</th><th>Action</th></tr>
                <tr><td>Student Bob</td><td>Patron</td><td style="color: green;">Clear</td><td><button class="btn-danger" style="padding: 5px 10px;">Remove</button></td></tr>
                <tr><td>John Doe</td><td>Patron</td><td style="color: red;">Owes RM 15</td><td><button style="padding: 5px 10px;">Send Reminder</button></td></tr>
            </table>
        </div>

        <div id="adm-penalties" class="panel hidden">
            <h3>Configure Penalty Rates</h3>
            <label>Current Late Fee per Day (RM):</label>
            <input type="number" value="5.00">
            <button>Update Rate</button>
        </div>

        <div id="adm-logs" class="panel hidden">
            <h3>System Borrow Logs</h3>
            <table>
                <tr><th>User</th><th>Book</th><th>Borrow Date</th><th>Expected Return</th></tr>
                <tr><td>Student Bob</td><td>CyberSec 101</td><td>2026-05-05</td><td>2026-05-19</td></tr>
            </table>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>